body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em 3em;
  }
  
  .dot {
    cursor: pointer;
  }
  
  .dot:hover {
    fill: blueviolet;
  }
  
  .axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
  }
  
  h2 {
    color: blue;
    background-color: #F2858E;
  }
  
  h1 {
    color: #D9328E;
    background-color: blue;
  }

 label {
  background-color: #F2C5BB;
  color: blue;
  }

  select {
    background-color: blue;
    color: #F2C5BB;
  }